* {
  box-sizing: border-box;
}

html, body {
  background-color: #FFCB25;
  margin: 0;
  padding: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  border-top:4px solid transparent;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 95vh;
  border-radius: 10px;
}

.title, .controls, .button {
  flex: none;
}

.button {
  border-radius: 5px;
  padding: 10px 20px;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  background-color: #e24a4a;
  border-radius: 3px;
  float: right;
  margin: 6px;
}

.todo-checkbox {
  margin: 10px 15px;
}

.todo-container {
  background-color: #dee4ed;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 0px 0px 3px 0px;
  color: black;
  font-size: 20px;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}
