* {
  box-sizing: border-box;
}

html, body {
  background-color: #FFCB25;
  margin: 0;
  padding: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

label {
  height: 100%;
  width: 95%;
  display: inline-block;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 95vh;
  border-radius: 10px;
  border: 2px solid #edbd3b;
}

.title, .controls, .button {
  flex: none;
}

.button {
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #FFCB25;
  font-weight: bold;
  transition: 0.3s;
  outline: none;
}

.button:hover {
  background-color: #FFCB25;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-edit {
  background-color: #fff;
  height: 20px;
  width: 40px;
  border-radius: 3px;
  float: right;
  margin: 6px;
  color:black;
}

.todo-delete {
  background-color: #e24a4a;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  float: right;
  margin: 6px;
}

.todo-checkbox {
  margin: 10px 15px;
  vertical-align: middle;
}

.todo-container {
  background-color: #edf1f7;
  vertical-align: bottom;
  padding: 15px;
  border-radius: 5px;
  margin: 0px 0px 5px 0px;
  color: black;
  font-size: 18px;
  transition: 0.3s;
}

.todo-container:hover {
  background-color: #dce1e8;
}

.todo-text {
  border-radius: 100px;
}
